<!-- Manage errors -->
<% if @device.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @device.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <%end%>
    </ul>
</div>
<%end%>

<div class="form mt-3">
  <h3>Add a new device</h3>
    <%= simple_form_for @device, as: :device, url: device_path(@device), method: :patch, html: {class: 'form-horizontal'} do |f| %>
    <!-- User partial for editable field in both (new and edit) to avoid coding twice same part -->
    <%= render :partial => "form", :locals => { :f => f } %>
    <%end %>
</div>

