<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @intervention_state.description %>
</p>

<%= link_to 'Edit', edit_intervention_state_path(@intervention_state) %> |
<%= link_to 'Back', intervention_states_path %>
