<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @intervention_type.description %>
</p>

<%= link_to 'Edit', edit_intervention_type_path(@intervention_type) %> |
<%= link_to 'Back', intervention_types_path %>
