<!-- Manage errors -->
<% if @intervention.errors.any? %>
<div class="alert alert-danger">
    <ul>
        <% @intervention.errors.full_messages.each do |message| %>
        <li> <%= message %></li>
        <%end%>
    </ul>
</div>
<%end%>

<div class="form mt-3">
    <h3>Editing an intervention</h3>   
    <%= simple_form_for @intervention, as: :intervention, url: intervention_path(@intervention), method: :patch, html: {class: 'form-horizontal'} do |f| %>
    <!-- User partial for editable parts to avoid coding twice same part -->
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%end %>  
</div>
